<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" type="text/css" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!-- <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'> -->
	<title>sqnotes</title>
	</head>
	<body>

	<h1 class="pagetitle">$ ~/sqnotes</h1>
	<div class="div1">
		<form action="{{ url_for('edit') }}" method="POST">
			<textarea type="text" name="title" class="title">{{ ntitle }}</textarea><br>
			<textarea type="text" name="text" cols = "60*" class="text">{{ ntext }}</textarea><br>
			<input type="hidden" name="notenumber" value="{{ notenumber }}" />
			<button type="submit" name="submit">OK</button>
			<div class="notetime">Note : you can drag the textbox to make it bigger.</div>
		</form>

		You are editing {{ notenumber }} <br>
		<!--Its title is {{ ntitle }} <br>
			Its text says {{ ntext }} <br>-->
		<br>
	{{ nr }} 
	<div>

  </body>
  </meta>
  </html>

