<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" type="text/css" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
	<title>squip_notes</title>
	</head>
	<body>

	<h1 class="pagetitle">$ ~/squip_notes</h1>
	<div class="div1">
		<form action="." method="POST">
			<input type="text" name="title" class="title" placeholder="Title"><br>
			<textarea type="text" name="text" rows = "5" cols = "60*" class="text" placeholder="Text"></textarea><br>
			<button type="submit" name="submit">Post</button>
			<div class="notetime">Note : you can drag the textbox to make it bigger.</div>
		</form>
		<br>
	{{ nr }} 
	<div>

  </body>
  </meta>
  </html>

