<html>
	<head>
		<link rel="stylesheet" href="{{ csslink }}" type="text/css" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!--<link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'> -->
	<title>sqnotes</title>
	</head>
	<body>
		<div class="topbar">
			<h1 class="pagetitle">$ ~/sqnotes</h1>
			<form action="." method="GET"><button type="submit" value="switchpls" name="switchpls" class="topbutton">Change theme</button></form> 
			<button class="topbutton"><a class="exportlink" href="{{ url_for('rawnotes') }}">Raw notes |</a></button>
		</div>
		<form action="." method="POST">
			<input type="text" name="title" class="title" placeholder="Title"><br>
			<textarea type="text" name="text" rows = "5" cols = "60*" class="text" placeholder="Text"></textarea><br>
			<button type="submit" name="submit">Post</button>
			<div class="notetime">Note : you can drag the textbox to make it bigger. Scroll down to see your previous notes.</div>
		</form>
		<br>
	{{ nr }} 

  </body>
  <footer>
	<hr>
	<div class="notetime">
		<p>
		You've reached the bottom. Made by Squip, 2022.
		</p>
	</div>
  </meta>
  </html>

